<div nxLayout="grid" class="nx-grid--max-width nx-margin-top-s">
  <div nxRow nxRowJustify="center">
    <div nxCol="12, 12, 10, 8">
      <div nxRow>
        <div nxCol="12, 12, 6">
          <h3>Filter:</h3>
          <nx-formfield nxLabel="Style">
            <nx-multi-select
              [(ngModel)]="modelStyleTitles"
              [options]="style_titles"
              selectLabel="name"
              selectValue="value"
            ></nx-multi-select>
          </nx-formfield>
        </div>

        <div nxCol="12, 12, 6">
          <h3>Sort by:</h3>
          <nx-formfield nxLabel="Recommendation">
            <nx-dropdown [(ngModel)]="modelSort">
              <nx-dropdown-item *ngFor="let values of sortData" [nxValue]="values.name"></nx-dropdown-item>
            </nx-dropdown>
          </nx-formfield>
        </div>
      </div>
    </div>
  </div>
</div>
