<div nxRow *ngIf="artworks.length > 0" nxRowAlignItems="stretch">
  <div
    nxCol="12,12,6,3"
    class="docs-grid-colored-col nx-margin-bottom-m artwork-item-col"
    *ngFor="let artwork of artworks"
  >
    <nx-card class="artwork-item" (click)="goDetail(artwork.id)">
      <figure nxFigure="1by1" class="nx-margin-bottom-s">
        <img
          *ngIf="artwork.image_id && artwork.image_id.trim().length > 0; else defaultImage"
          src="https://www.artic.edu/iiif/2/{{ artwork.image_id }}/full/843,/0/default.jpg"
          width="100%"
          height="250px"
        />
        <ng-template #defaultImage>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/3/32/Art_Institute_of_Chicago_logo.svg"
            width="100%"
            height="auto"
          />
        </ng-template>
      </figure>
      <h3 nxHeadline="subsection-small" class="">{{ artwork.title || '' }}</h3>
      <p nxHeadline="subsection-xsmall" class="nx-margin-bottom-s">{{ artwork.artist_title || '' }}</p>
      <p>
        {{ artwork.place_of_origin }} (<span>{{ checkDateMatches(artwork.date_start, artwork.date_end) }}</span
        >)
      </p>
      <p>{{ artwork.material_titles.toString() || '' | titlecase }}</p>
    </nx-card>
  </div>
</div>
